<a href="https://recipes.anit.dev" target="_blank" class="no-underline">
  <button
    class="shadowss w-full rounded-full px-6 p-2 border-red-500 dark:border-indigo-800 border mb-8"
  >
    Check Out My Recipies 🍲

    <div
      class="pill bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-violet-600 via-purple-800 to-violet-900 rounded-full outline-2 outline-offset-1 text-neutral-200 px-4 py-0"
    >
      Lets Go
    </div>
  </button>
</a>

<style>
  :root {
    --gradient-shadow: linear-gradient(
      45deg,
      #fb0094,
      #0000ff,
      #00ff00,
      #ffff00,
      #ff0000,
      #fb0094,
      #0000ff,
      #00ff00,
      #ffff00,
      #ff0000
    );
  }

  .shadowss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #fff;
    text-align: center;

    background: linear-gradient(0deg, #000, #262626);
  }
  .shadowss:before,
  .shadowss:after {
    border-radius: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: var(--gradient-shadow);
    background-size: 400%;
    width: calc(100% + 0px);
    height: calc(100% + 0px);
    z-index: -1;
    animation: animate 20s linear infinite;
  }

  .shadowss:after {
    filter: blur(20px);
  }

  @keyframes animate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 300% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
</style>
