---
import Icon from "./Icon.astro";
---

<button class="dark-mode-button ml-auto rounded p-2" title="dark mode">
  <Icon name="mdi:weather-night" class="dark-mode-icon" />
</button>
<button class="light-mode-button ml-auto rounded p-2" title="light mode">
  <Icon name="mdi:white-balance-sunny" class="light-mode-icon" />
</button>
<script>
  function ToggleInteractive() {
    console.log("ehe");
    const darkmodebtn = document.querySelector(".dark-mode-button");
    const lightmodebtn = document.querySelector(".light-mode-button");

    // Check the localStorage theme and update button classes accordingly
    if (localStorage.theme === "dark") {
      darkmodebtn?.classList.add("bg-white");
    } else if (localStorage.theme === "light") {
      lightmodebtn?.classList.add("bg-white");
    }

    // Function to toggle dark mode
    function enableDarkMode() {
      document.documentElement.classList.add("dark");
      localStorage.theme = "dark";
      // const metaTheme = document.querySelector('meta[name="theme-color"]');
      // if (metaTheme !== null) metaTheme.setAttribute("content", "#1c1917");
      darkmodebtn?.classList.add("bg-white");
      lightmodebtn?.classList.remove("bg-white");
    }

    // Function to toggle light mode
    function enableLightMode() {
      document.documentElement.classList.remove("dark");
      localStorage.theme = "light";
      // const metaTheme = document.querySelector('meta[name="theme-color"]');
      // if (metaTheme !== null) metaTheme.setAttribute("content", "#fff9eb");
      lightmodebtn?.classList.add("bg-white");
      darkmodebtn?.classList.remove("bg-white");
    }

    darkmodebtn?.addEventListener("click", enableDarkMode);
    lightmodebtn?.addEventListener("click", enableLightMode);
  }
  ToggleInteractive();
</script>
