---
import { Image } from "astro:assets";
import Icon from "./Icon.astro";
type Props = {
  iconName: string;
  text: string;
  shadowColorClass: string;
};
const { iconName, text, shadowColorClass } = Astro.props;
---

<span
  class={`not-prose gap-1.5 items-center bg-stone-200/50 text-black dark:text-gray-50 dark:bg-stone-800/60 border rounded px-1.5 w-fit text-sm py-0.5 mx-1 shadow inline-flex ${shadowColorClass} dark:border-stone-600`}
>
  <!-- <Image src={icon} height={16} width={16} alt="icon" class="inline" /> -->
  <Icon name={iconName} class="inline" height={16} width={16} />
  {text}
</span>
