---
const path = new URL(Astro.request.url).pathname;
let pathname: "blog" | "home" | "guestbook" | "" = "";
if (path === "/") pathname = "home";
else if (path.includes("/guestbook")) pathname = "guestbook";
else pathname = "blog";
---

<nav class="w-full py-2 my-12 tracking-tight text-gray-800 dark:text-gray-500">
  <ul class="flex">
    <li>
      <a
        href="/"
        class={`py-1 px-2 ${
          pathname === "home" ? "text-black dark:text-gray-50" : ""
        }`}
      >
        home
      </a>
    </li>
    <li>
      <a
        href="/blog"
        class={`py-1 px-2 ${
          pathname === "blog" ? "text-black dark:text-gray-50" : ""
        }`}
      >
        blog
      </a>
    </li>
    <li>
      <a
        href="/guestbook"
        class={`py-1 px-2 ${
          pathname === "guestbook" ? "text-black dark:text-gray-50" : ""
        }`}
      >
        guestbook
      </a>
    </li>
  </ul>
</nav>
