---
import ColorModeToggle from "./ColorModeToggle.astro";
import Icon from "./Icon.astro";
import Navlink from "./Navlink.astro";
type NavItemProps = { displayName: string; slug: string };

const path = new URL(Astro.request.url).pathname;
let pathname: "blog" | "home" | "guestbook" | "" = "";
if (path === "/") pathname = "home";
else if (path.includes("/guestbook")) pathname = "guestbook";
else pathname = "blog";

let NavItems: NavItemProps[] = [
  {
    displayName: "home",
    slug: "/",
  },
  {
    displayName: "blog",
    slug: "/blog",
  },
  {
    displayName: "guestbook",
    slug: "/guestbook",
  },
];
---

<nav
  class="w-full py-2 my-12 tracking-tight text-gray-800 dark:text-gray-500 flex items-center"
>
  <Icon name="logo" class="mr-2 fill-black dark:fill-white" />
  <ul class="flex">
    {NavItems.map((item) => <Navlink {...item} />)}
  </ul>


  <div class="ml-auto gap-1" transition:persist>

    <ColorModeToggle />
  </div>
</nav>
