---
import ColorModeToggle from "./ColorModeToggle.astro";
import Icon from "./Icon.astro";
import Navlink from "./Navlink.astro";
type NavItemProps = { displayName: string; slug: string };

let NavItems: NavItemProps[] = [
  {
    displayName: "home",
    slug: "/",
  },
  {
    displayName: "blog",
    slug: "/blog",
  },
  // {
  //   displayName: "guestbook",
  //   slug: "/guestbook",
  // },
  {
    displayName: "projects",
    slug: "/projects",
  },
];
---

<nav
  class="w-full py-2 my-12 tracking-tight text-gray-800 dark:text-gray-500 flex items-center"
  transition:animate="none"
>
  <Icon name="logo" class="mr-2 fill-black dark:fill-white" />
  <ul class="flex">
    {NavItems.map((item) => <Navlink {...item} />)}
  </ul>

  <div class="ml-auto gap-1" transition:persist="color-mode-toggle">
    <ColorModeToggle />
  </div>
</nav>
