---
type Props = {
  displayName: string;
  slug: string;
};
const { displayName, slug } = Astro.props;
const path = new URL(Astro.request.url).pathname;
let pathname: "blog" | "home" | "guestbook" | "projects" | "" = "";
if (path === "/") pathname = "";
else if (path.includes("/projects")) pathname = "projects";
else pathname = "blog";

let active = pathname === slug.slice(1);

//Idk can be better implemented 🥴
---

<li>
  <a
    href={slug}
    rel="prefetch"
    class={`py-1 px-2 ${
      active
        ? "underline underline-offset-4 text-black dark:text-gray-50"
        : "text-gray-600 dark:text-gray-400"
    } `}
  >
    {displayName}
  </a>
</li>
