---
import ProjectCard from "./ProjectCard.astro";
---

<h3 class="mt-14">Projects 📚</h3>
<section class="grid grid-cols-1 sm:grid-cols-2 gap-x-2">
  <ProjectCard title="fdsf" desc="fsdf" ghLink="fsdf" liveLink="sdf" />
  <ProjectCard
    blogLink="fsd"
    title="fdsf"
    desc="fsdf"
    ghLink="fsdf"
    liveLink="sdf"
  />
  <ProjectCard title="fdsf" desc="fsdf" ghLink="fsdf" liveLink="sdf" />
  <ProjectCard title="fdsf" desc="fsdf" ghLink="fsdf" liveLink="sdf" />
</section>
