---
import ProjectCard from "./ProjectCard.astro";
---

<h3 class="mt-14">Projects 📚</h3>
<p>I've also worked on a few projects of my own.</p>
<section class="grid grid-cols-1 sm:grid-cols-2 gap-x-3">
  <ProjectCard
    blogLink="fsd"
    title="fdsf"
    desc="fsdf"
    ghLink="fsdf"
    liveLink="sdf"
  />
  <ProjectCard
    blogLink="fsd"
    title="fdsf"
    desc="fsdf"
    ghLink="fsdf"
    liveLink="sdf"
  />
  <ProjectCard
    blogLink="fsd"
    title="fdsf"
    desc="fsdf"
    ghLink="fsdf"
    liveLink="sdf"
  />
  <ProjectCard
    blogLink="fsd"
    title="fdsf"
    desc="fsdf"
    ghLink="fsdf"
    liveLink="sdf"
  />
</section>
