---
import { formattedDate } from "../lib/utils";
type Props = {
  slug: string;
  title: string;
  date: Date;
};
const { slug, title, date } = Astro.props;
---

<a
  href={"blog/" + slug}
  class="border no-underline border-rose-300 dark:border-neutral-800 bg-neutral-100/40 dark:bg-neutral-900/60 rounded flex items-center justify-between px-3 py-4 w-full my-2 group"
  rel="prefetch"
>
  <div class="flex flex-col">
    <p
      class="font-semibold my-0 text-base text-neutral-900 dark:text-neutral-100 capitalize"
    >
      {title}
    </p><time class="my-0 text-neutral-600 dark:text-neutral-400"
      ><small>{formattedDate(date)}</small></time
    >
  </div>
  <div
    class="group-hover:translate-x-1 group-hover:-translate-y-1 duration-200"
  >
    <svg
      width="12"
      height="12"
      viewBox="0 0 12 12"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      ><path
        d="M2.07102 11.3494L0.963068 10.2415L9.2017 1.98864H2.83807L2.85227 0.454545H11.8438V9.46023H10.2955L10.3097 3.09659L2.07102 11.3494Z"
        fill="currentColor"></path></svg
    >
  </div>
</a>
