---
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
type Props = {
  title: string;
};
const { title } = Astro.props;
---

<html
  lang="en"
  class="font-graphik dark:bg-stone-950 bg-gray-200 dark:text-slate-50 text-slate-800"
>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="max-w-3xl mx-auto px-4">
    <Navbar />
    <main class="prose dark:prose-invert py-2 px-2">
      <slot />
    </main>
    <style is:global>
      @font-face {
        font-family: "graphik";
        src: url("/fonts/graphik.ttf"), url("/fonts/graphik2.ttf");
      }
      p {
        font-size: 0.92rem;
      }
      h4 {
        font-size: 1rem !important;
      }
    </style>
  </body>
</html>
