---
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/Navbar.astro";
type Props = {
  title: string;
};
const { title } = Astro.props;
---

<html lang="en" class="dark font-graphik">
  <head>
    <script is:inline>
      // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- link tags-->
    <link
      rel="preload"
      href="/fonts/graphik.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/graphik2.ttf"
      as="font"
      type="font/ttf"
      crossorigin="anonymous"
    />

    <ViewTransitions />
  </head>
  <body
    class="bg-yellow-50 dak:text-slate-50 text-slate-800 dark:bg-stone-950 max-w-3xl mx-auto px-4"
  >
    <Navbar />
    <main class="prose dark:prose-invert py-2 px-2">
      <slot />
    </main>
    <style is:global>
      @font-face {
        font-family: "graphik";
        src: url("/fonts/graphik.ttf"), url("/fonts/graphik2.ttf");
        font-display: swap;
      }
      p {
        font-size: 0.92rem;
      }
      h4 {
        font-size: 1rem !important;
      }
      ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }

      /* Track styles */
      ::-webkit-scrollbar-track {
        @apply bg-gray-600 /* Light greyish background */;
      }

      /* Thumb styles */
      ::-webkit-scrollbar-thumb {
        @apply bg-gray-300/80  rounded
        /* background-color: rgba(
          192,
          192,
          192,
          0.5
        ); Translucent light greyish */;
      }
    </style>
  </body>
</html>
